<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf </title>
<link rel="stylesheet" href="./gen.css">
</head>
<body>

  
  <div id="invoice-POS">
    
    <center id="top">
      <div class="logo"></div>
      <div class="info"> 
        <h2>AEGIS PROJECTS TECHNOLOGY PVT. LTD.</h2>
      </div>
    </center>
    
    <div id="mid">
      <div class="info">
        <h2>Contact Info</h2>
        <p className="invoice-details">
          Office No 01,
          <br />
          Swami Samarth Building,
          <br />
          Opp. Sangrila Biscuits Company,
          <br />
          Next to Kala Udyog, LBS MARG,
          <br />
          Bhandup ( west),
          <br />
          Mumbai – 400078,
          <br />
          Maharashtra (INDIA)
          <br />
          <h6 className="invoice-name">
            Issue Date: <%= new Date().toLocaleString() %>
          </h6>
        </p>
      </div>
    </div>
    
    <div id="bot">

					<div id="table">
						<table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Make</th>
                  <th>Modal No</th>
                  <th>Part No</th>
                </tr>
              </thead>
              <tbody>
                <% if(itemList.length >0){ %>
                    <% itemList.forEach(item=>{%>
                      <tr key="1">
                        <td>1</td>
                        <td><%= item.item_name %></td>
                        <td><%= item.item_make %></td>
                        <td><%= item.item_modalNo %></td>
                        <td><%= item.item_partNo %></td>
                      </tr>
                      <% }) %>

                <%} %>                   
                
              </tbody>
						</table>
					</div>

					<div id="legalcopy">
						<p class="legal"><strong>Thank you for your business!</strong>
						</p>
					</div>

				</div>
  </div>


  
</body>
</html>