<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase order pdf</title>
    <link rel="shortcut icon" href="/logo.jpeg" />
    <link rel="stylesheet" href="./gen.css">
    <style type="text/css">
      td {
        border: solid 2px black;
        margin: 3px;
        padding: 3px;
        word-break:break-all;
      }
    </style>
  </head>
  <body>
    <div
      className="main-wrapper border"
      style="
        width: 185mm;
        height: 270mm;
        margin: 0;
        padding: 3mm;
        border: 1px solid black;

        background-image:url('<%= watermark %>');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 18rem;
        background-size: contain;
        z-index: -1;
      "
    >
      <div className="page-wrapper">
        <div className="content container-fluid">
          <div className="row justify-content-center">
            <div className="col-xl-6 mx-4">
              <div className="card invoice-info-card">
                <div className="card-body">
                  <div className="invoice-item invoice-item-one">
                    <div className="row">
                      <div className="col-md-12">
                        <div className="invoice-logo">
                          <img
                            src="<%= logo %>"
                            width="120"
                            height="120"
                            alt="Image"
                            style="vertical-align: middle"
                          />
                          <h2
                            style="
                              display: inline-block;
                              color: rgb(32, 91, 229);
                            "
                          >
                            AEGIS PROJECTS TECHNOLOGY PVT. LTD
                          </h2>
                          <p>Date : - <%= new Date().toLocaleString() %></p>
                          <p>Reference No : - AEGIS/PO/<%= refno %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />

                  <div className="invoice-item invoice-item-two">
                    <div className="row">
                      <div className="col-md-12">
                        <div className="invoice-info">
                          <h3>
                            <strong className="customer-text-one">
                              To, <br />
                              M/S. <%= vendorData.vendor_name %>
                            </strong>
                          </h3>
                          <p className="invoice-details invoice-details-two">
                            <%= vendorData.vendor_street %>, <br />
                            <%= vendorData.vendor_city %>, <%=
                            vendorData.vendor_code %> <br />
                            <%= vendorData.vendor_state %> <%=
                            vendorData.vendor_country %> <br />
                            MOBILE NO : - <%= vendorData.vendor_phone1 %> <br />
                            E mail ID : - <%= vendorData.vendor_email %> <br />
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div className="invoice-item invoice-item-two">
                    <div className="row">
                      <div className="col-md-12">
                        <div className="invoice-info">
                          <h3>
                            <strong className="customer-text-one">
                              DELIVERY ADDRESS :
                            </strong>
                          </h3>
                          <p className="invoice-details invoice-details-two">
                            Office no.1, Swami Samarth Blg, Opp. Sangrila
                            Biscuit Company, <br />
                            Next to KALA Udyog, LBS Marg, Bhandup – west, Mumbai
                            – 400078. <br />
                            Cell – 9820329458 / 9820229458 <br />
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />

                  <div className="invoice-item invoice-table-wrap">
                    <div className="row">
                      <div className="col-md-12">
                        <div className="table-responsive">
                          <strong className="customer-text-one">
                            A. MATERIAL DESCRIPTION :
                          </strong>
                          <br />
                          <br />
                          <table
                            className="mb-0"
                            style="
                              border: 2px solid black;
                              border-collapse: collapse;
                            "
                          >
                            <thead>
                              <tr>
                                <td> <strong>Make </strong> </th>
                                <td> <strong>Modal No </strong> </td>
                                <td> <strong>Part Name </strong> </td>
                                <td> <strong>Part No </strong> </td>
                                <td> <strong> Unit Price </strong></td>
                                <td> <strong>Quantity </strong> </td>
                                <td> <strong>Total Price </strong> </td>
                              </tr>
                            </thead>
                            <% if(itemList.length >0){ %> <%
                            itemList.forEach(item=>{%>
                            <tr key="1">
                              <td><%= item.item_make %></td>
                              <td><%= item.item_modalNo %></td>
                              <td><%= item.item_name %></td>
                              <td><%= item.item_partNo %></td>
                              <td><%= item.item_price %></td>
                              <td><%= item.item_quantity %></td>
                              <td><%= item.item_total_price %></td>
                            </tr>
                            <% }) %> <%} %>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    className="row align-items-center justify-content-center"
                  >
                    <div className="col-lg-6 col-md-6">
                      <div className="invoice-total-card">
                        <div className="invoice-total-box">
                          <div className="invoice-total-footer">
                            <h4>
                              Total Amount -- <span>Rs.<%= total_cost %></span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div className="col-lg-6 col-md-6">
                      <div className="invoice-total-card">
                        <div className="invoice-total-box">
                          <div className="invoice-total-footer">
                            <h4>
                              GST NUMBER -- <span> 27AAHCA3261B1Z4 </span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
