<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Quotation pdf </title>
    <link rel="shortcut icon" href="/logo.jpeg" />
    <link rel="stylesheet" href="./gen.css">
    <style type="text/css">
      td {
        border: solid 2px black;
        margin: 3px;
        padding: 2px;
        word-break:break-all;
      }
    </style>
  </head>
<body>
  
  <div className="main-wrapper">
    <div className="page-wrapper">
      <div className="content container-fluid">
        <div className="row justify-content-center">
          <div className="col-xl-6 mx-4">
            <div className="card invoice-info-card">
              <div className="card-body" 
              style="
                    width: 185mm;
                    height: 270mm;
                    margin: 0;
                    padding: 3mm;
                    border: 1px solid black;
                    page-break-after: always;

                    background-image:url('<%= watermark %>');
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: 18rem;
                    background-size: contain;
                    z-index: -1;
                  ">
                <div className="invoice-item invoice-item-one">
                  <div className="row">
                    <div className="col-md-12">
                      <div className="invoice-logo">
                        <img
                        src="<%= logo %>"
                          width="120"
                          height="120"
                          alt="Image"
                          style="vertical-align: middle"
                        />
                        <h2
                          style="
                            display: inline-block;
                            color: rgb(32, 91, 229);
                          "
                        >
                          AEGIS PROJECTS TECHNOLOGY PVT. LTD
                        </h2>
                        <p>Date : - <%= new Date().toLocaleString() %></p>
                        <p>Reference No : - AEGIS/CQ/<%= refno %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />

                <div className="invoice-item invoice-item-two">
                  <div className="row">
                    <div className="col-md-10">
                      <div className="invoice-info">
                        <h3>
                          <strong className="customer-text-one">
                            To, <br>
                            M/S. <%= contactData.contact_name %>
                          </strong>
                        </h3>
                        <p className="invoice-details invoice-details-two">
                          <%= contactData.contact_street %>, <br />
                          <%= contactData.contact_city %>, <%= contactData.contact_code %> <br>
                          <%= contactData.contact_state %> <%= contactData.contact_country %> <br />
                          MOBILE NO : - <%= contactData.contact_phone1 %> <br>
                          E mail ID :- <%= contactData.contact_email %> <br>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div className="invoice-item invoice-item-two">
                  <div className="row">
                    <div className="col-md-12">
                      <div className="invoice-info">
                        <p className="invoice-details invoice-details-two">
                          Dear Sir, <br />
                          This refers to your email enquiry on dated 24TH
                          MARCH 2023, regarding your requirement Compressor
                          Spares Parts/Oil.
                          <br />
                          We thank you very much for the interest evinced in
                          our product. <br />
                          We take pleasure to submit our lowest offer for
                          Compressor Spares Parts/Oil, along with Technical
                          specification, Commercial Terms and conditions
                          enclosed with the offer.
                          <br />
                          We are sure our specification will suit to your
                          application and award us with your valued order at
                          earliest <br />
                          However if you have any query or need more
                          information, please feel free to contact us. <br />
                          Thanking you, <br /> <br>
                          <strong className="customer-text-one">
                            AEGIS Projects Technology Pvt Ltd. <br />
                          </strong>
                          RAJENDRA MAURYA <br>
                          TECH- DIRECTOR <br>
                          CELL NO - +919820229458 <br>
                          E mail ID :- badrinath.naikwadi@megafine.in <br>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <!-- --------------------pg 1 ends-------------------------- -->
              </div>
              <div style="
              width: 185mm;
              height: 270mm;
              margin: 0;
              padding: 3mm;
              border: 1px solid black;
              page-break-after: always;

              background-image:url('<%= watermark %>');
              background-repeat: no-repeat;
              background-position-x: center;
              background-position-y: 18rem;
              background-size: contain;
              z-index: -1;
            ">                
                <div className="invoice-item invoice-table-wrap" >
                  <div className="row">
                    <div className="col-md-12">
                      <div className="table-responsive">
                        <strong className="customer-text-one">
                          A. OFFER ITEMS
                        </strong>
                        <br><br>
                        <table                        
                        className="mb-0"
                        style="
                          border: 2px solid black;
                          border-collapse: collapse;
                        ">
                          <thead>
                            <tr>
                              <td> <strong> Make  </strong>  </td>
                              <td> <strong> Modal No  </strong>  </td>
                              <td> <strong> Part Name  </strong>  </td>
                              <td> <strong>  Part No </strong>  </td>
                              <td> <strong> HSN Code  </strong>  </td>
                              <td> <strong> Unit Price  </strong>  </td>
                              <td> <strong>  Quantity </strong>  </td>
                              <td> <strong>  IGST </strong>  </td>
                              <td> <strong> CGST  </strong>  </td>
                              <td> <strong>  SGST </strong>  </td>
                              <td> <strong>  Total </strong> </td>
                            </tr>
                          </thead>
                          <% if(itemList.length >0){ %>
                            <% itemList.forEach(item=>{%>
                              <tr key="1">
                                <td><%= item.item_make %></td>
                                <td><%= item.item_modalNo %></td>
                                <td><%= item.item_name %></td>
                                <td><%= item.item_partNo %></td>
                                <td><%= item.item_HSN %></td>
                                <td><%= item.item_price %></td>
                                <td><%= item.item_quantity %></td>
                                <td><%= item.item_IGST %></td>
                                <td><%= item.item_CGST %></td>
                                <td><%= item.item_SGST %></td>
                                <td><%= item.item_total_price %></td>
                              </tr>
                            <% }) %>
                        <%} %>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div className="row align-items-center justify-content-center" >
                  <div className="col-lg-6 col-md-6">
                    <div className="invoice-total-card">
                      <div className="invoice-total-box">
                        <div className="invoice-total-inner">
                          <!-- <p className="mb-0">
                            Sub total <span>Rs.3,300.00</span>
                          </p> -->
                        </div>
                        <div className="invoice-total-footer">
                          <h4>
                            Total Amount <span>Rs.<%= total_cost %></span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div className="col-lg-12 col-md-12">
                    <div className="invoice-terms">
                      <h4>Notes:</h4>
                      <ul>
                        <li>We Supply All Compressors Make Spares Parts.</li>
                        <li>
                          All Compressor Spare Parts Manufactured By Standard
                          Manufacturers & It’s Not Imposed By Any Manufacturer
                          Name/Stamp
                        </li>
                        <li>We Supply All Compressors Make Spares Parts.</li>
                        <li>
                          Compressor Oil Packed In Plain HDP Can/Barrel.
                        </li>
                        <li>
                          Once Acceptance Letter (Against Order) Had Confirmed
                          By Both Parties, Cancellation Order Will Be Not
                          Accepted & Amount Will Be Not Refund Back.
                        </li>
                        <li>
                          Used Material Can Not Be Replaced, Related To
                          Fitment Issue..
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- --------------------pg 2 ends-------------------------- -->
                <div>
                  <br><br>
                <!-- {/* -----------------------------isko change mat karo--------------------------- */} -->
                <div className="invoice-item invoice-table-wrap"  style="page-break-after: always;">
                  <div className="row">
                    <div className="col-md-12">
                      <div className="table-responsive">
                        <strong className="customer-text-one">
                          B. COMMERCIAL TERMS & CONDITIONS.
                        </strong> <br> <br>
                        <table className="invoice-table table table-center mb-0">
                          <tbody>
                            <tr>
                              <td>01</td>
                              <td>PACKING CHARGE </td>
                              <td><%= packing_charge %></td>
                            </tr>
                            <tr>
                              <td>02</td>
                              <td>TRANSPORT CHARGES </td>
                              <td><%= transport_charge %></td>
                            </tr>
                            <tr>
                              <td>04</td>
                              <td>PAYMENTS TERMS </td>
                              <td><%= payment_terms %></td>
                            </tr>
                            <tr>
                              <td>05</td>
                              <td>DELIVERY </td>
                              <td><%= delivery %></td>
                            </tr>
                            <tr>
                              <td>06</td>
                              <td>OFFER VALIDITY </td>
                              <td><%= offer_validity %></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div className="col-md-12">
                      <div className="invoice-info">
                        <p className="invoice-details invoice-details-two">
                            <strong className="customer-text-one">
                            Thanking You
                            We wait for your reply
                            AEGIS Projects Technology Pvt Ltd. <br />
                          </strong>
                          RAJENDRA MAURYA <br>
                          TECH- DIRECTOR <br>
                          CELL NO - +919820229458 <br>
                          E mail ID :- badrinath.naikwadi@megafine.in <br>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- {/* ----------------------------------------------------------------------------- */} -->
                </div>
              </div>
              <div>
                <!-- {/* -----------------------------isko change mat karo--------------------------- */} -->
                <div className="invoice-item invoice-table-wrap"  style="page-break-after: always;">
                  <div className="row">
                    <div className="col-md-12">
                      <div className="table-responsive" style="
                      width: 185mm;
                      height: 270mm;
                      margin: 0;
                      padding: 3mm;
                      border: 1px solid black;
                      page-break-after: always;

                      background-image:url('<%= watermark %>');
                      background-repeat: no-repeat;
                      background-position-x: center;
                      background-position-y: 18rem;
                      background-size: contain;
                      z-index: -1;
                    ">
                        <strong className="customer-text-one">
                          C. PARTY MASTER FORM
                        </strong><br>
                        CIN NO. : U74999MH2008PTC186812
                        <p className="invoice-name">
                          Dear Sir, <br />
                          As required by you, please find hereunder details to
                          be submitted by us for laying out Party Master
                          against Vendor registration
                        </p>
                        <table className="invoice-table table table-center mb-0">
                          <tbody>
                            <tr>
                              <td>Party Name </td>
                              <td> &nbsp; &nbsp; AEGIS Projects Technology Pvt Ltd</td>
                            </tr>
                            <tr>
                              <td>Party Status </td>
                              <td> &nbsp; &nbsp; Creditors</td>
                            </tr>
                            <tr>
                              <td>Account Type </td>
                              <td> &nbsp; &nbsp; Local</td>
                            </tr>
                            <tr>
                              <td>Account Group</td>
                              <td>
                                 &nbsp; &nbsp; AEGIS Projects Technology Pvt Ltd – Mumbai Office No – 01, <br>
                                 &nbsp; &nbsp; Swami Samarth Bldg – Next Kala Udyog, LBS Marg, <br>
                                 &nbsp; &nbsp; Bhandup (w) , Mumbai – 400078 , Maharashtra <br>
                              </td>
                            </tr>
                            <tr>
                              <td>Address </td>
                              <td> &nbsp; &nbsp; India</td>
                            </tr>
                            <tr>
                              <td>City </td>
                              <td> &nbsp; &nbsp; Mumbai ,Maharashtra </td>
                            </tr>
                            <tr>
                              <td>Pin Code </td>
                              <td> &nbsp; &nbsp; 400078 </td>
                            </tr>
                            <tr>
                              <td>Country </td>
                              <td> &nbsp; &nbsp; India </td>
                            </tr>
                            <tr>
                              <td>Telephone No </td>
                              <td> &nbsp; &nbsp; 022-25663611, 022-25663612 </td>
                            </tr>
                            <tr>
                              <td>Fax No. </td>
                              <td> &nbsp; &nbsp; 022- 25663613 </td>
                            </tr>
                            <tr>
                              <td>Contact Person </td>
                              <td> &nbsp; &nbsp; Mr. Rajendra Maurya </td>
                            </tr>
                            <tr>
                              <td>Local Sales Tax No </td>
                              <td> &nbsp; &nbsp; 27240756610 V</td>
                            </tr>
                            <tr>
                              <td>L.S.T. Date </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>Central Sales Tax No </td>
                              <td> &nbsp; &nbsp; 27240756610 C </td>
                            </tr>
                            <tr>
                              <td>C.S.T. Date </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>Work Contract Tax No ,S Tax </td>
                              <td> &nbsp; &nbsp; AAHCA3261BSD001</td>
                            </tr>
                            <tr>
                              <td>Central Excise Code No</td>
                              <td> &nbsp; &nbsp; AAHCA 3261 BED 001</td>
                            </tr>
                            <tr>
                              <td>Excise Range</td>
                              <td> &nbsp; &nbsp; IV</td>
                            </tr>
                            <tr>
                              <td>Excise Division</td>
                              <td> &nbsp; &nbsp; DIV- BHANDUP MUMBAI -III</td>
                            </tr>
                            <tr>
                              <td>Income Tax PAN No.</td>
                              <td> &nbsp; &nbsp; AAHCA3261B</td>
                            </tr>
                            <tr>
                              <td>IE Code No.</td>
                              <td> &nbsp; &nbsp; 0311020933</td>
                            </tr>
                            <tr>
                              <td>TAN No.</td>
                              <td> &nbsp; &nbsp; PNEA14471C</td>
                            </tr>
                            <tr>
                              <td>Currency</td>
                              <td> &nbsp; &nbsp; INR</td>
                            </tr>
                            <tr>
                              <td>Bank Name</td>
                              <td> &nbsp; &nbsp; INDIAN BANK </td>
                            </tr>
                            <tr>
                              <td>Branch</td>
                              <td> &nbsp; &nbsp; HIRANANDANI THANE WEST </td>
                            </tr>
                            <tr>
                              <td>Bank account type & No.</td>
                              <td> &nbsp; &nbsp; Current – 6114353375</td>
                            </tr>
                            <tr>
                              <td>IFSC Code No</td>
                              <td> &nbsp; &nbsp; IDIB000T129</td>
                            </tr>
                            <tr>
                              <td>Payment Terms</td>
                              <td> &nbsp; &nbsp; As per Terms & condition</td>
                            </tr>
                            <tr>
                              <td>SSI Unit </td>
                              <td> &nbsp; &nbsp; N.A</td>
                            </tr>
                            <tr>
                              <td>TDS </td>
                              <td> &nbsp; &nbsp; N.A</td>
                            </tr>
                            <tr>
                              <td>ARN NO.</td>
                              <td> &nbsp; &nbsp; AA270417020312O</td>
                            </tr>
                            <tr>
                              <td>GST ID NUMBER</td>
                              <td> &nbsp; &nbsp; 27AAHCA3261B1Z4</td>
                            </tr>
                            <tr>
                              <td>Authorised Signatory </td>
                              <td> &nbsp; &nbsp; Rajendra Maurya -09820229458</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- {/* ----------------------------------------------------------------------------- */} -->
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>